{{yield}}
<div class="modal bottom-sheet">
  <form id="shopping-list-add-form" class="col s12 white" {{action (action this.attrs.closeModal newRecord) on='submit'}}>
    <div class="modal-content">
    {{#if isItemsList}}
      <h5>Add an Item</h5>
      <div class="row">
        <div class="input-field col s12">
          {{input value=newRecord.title class="validate" placeholder="Enter an item to add to the shopping list" autofocus=true required=true}}
        </div>
        {{input name="type" type="hidden" value=newRecord.type required=true}}
        {{input name="list" type="hidden" value=newRecord.list required=true}}
      </div>
    {{else}}
      <h5>Create a Shopping List</h5>
      <div class="row">
        <div class="input-field col s12">
          {{input value=newRecord.title class="validate" placeholder="Enter a title for the shopping list" autofocus=true required=true}}
        </div>
        {{input name="type" type="hidden" value=newRecord.list required=true}}
      </div>
    {{/if}}
    </div>
    <div class="modal-footer primary-color">
      <button class="btn-flat" type="button" data-escape="closeadd" {{action (action this.attrs.closeModal)}}>Cancel</button>
      <button class="btn-flat" type="submit" data-escape="closeadd">Add</button>
    </div>
  </form>
</div>
<div class="modal-overlay" {{action (action this.attrs.closeModal)}}></div>
