{{yield}}
<div class="modal top-sheet">
  <form id="shopping-list-settings" class="col s12 white" {{action (action this.attrs.sync settings) on='submit'}}>
    <div class="modal-content">
        <h5>Shopping Lists Settings</h5>
          <div class="row">
            <div class="input-field col s12">
              <span class="primary-text darker">Enter a fully qualified URL (including username and password) to a remote IBM Cloudant, Apache CouchDB, or PouchDB database to sync your shopping list.</span>
              {{input value=settings.remoteDB type="url" class="validate" placeholder="http://username:password@localhost:5984/database" autofocus=true}}
              <div class="chip"></div>
            </div>
          </div>
    </div>
    <div class="modal-footer secondary-color">
      <button class="btn-flat" type="button" data-escape="closesettings" {{action (action this.attrs.closeModal)}}>Cancel</button>
      <button class="btn-flat" type="submit" data-escape="closesettings">Sync</button>
    </div>
  </form>
</div>
<div class="modal-overlay" {{action (action this.attrs.closeModal)}}></div>
