{{yield}}
<div class="list-view collapsible {{if editMode 'closed'}}">
  {{#link-to 'shopping-list-items' list._id}}
  <div class="card-content" {{action 'listClicked'}}>
    <span class="card-title activator">{{list.title}}
      <button class="btn-flat more-btn right" {{action 'toggleEdit' bubbles=false}}><i class="material-icons">more_vert</i></button>
    </span>
  </div>
  {{/link-to}}
  <div class="card-action">
    {{#if list.checked}} 
    <input type="checkbox" id="checked-list-{{list._sanitizedid}}" name="checked-list-{{list._sanitizedid}}" checked="checked" disabled />
    {{else}}
    <input type="checkbox" id="checked-list-{{list._sanitizedid}}" name="checked-list-{{list._sanitizedid}}" disabled />
    {{/if}}
    <label for="checked-list-{{list._sanitizedid}}">{{checkedItems.content}} of {{totalItems.content}} items checked</label>
  </div>
</div>
<div class="list-edit collapsible {{unless editMode "closed"}}">
  <form id="form-{{list._sanitizedid}}" class="col s12 white" {{action 'updateList' list.title on='submit'}}>
    <div class="card-content">
      <span class="card-title">
        <button id="close-{{list._sanitizedid}}" type="button" class="btn-flat more-btn right" {{action 'toggleEdit' bubbles=false}}><i class="material-icons">close</i></button>
      </span>
      <h5>Edit Shopping List</h5>
      <div class="row">
        <div class="input-field col s12">
          {{input value=list.title class="validate" placeholder=list.title autofocus=true required=true}}
        </div>
      </div>
    </div>
    <div class="card-action">
      <button class="btn-flat" type="button" data-escape="{{list._sanitizedid}}" {{action 'removeList'}}>Remove</button>
      <button class="btn-flat" type="submit" data-escape="{{list._sanitizedid}}">Update</button>
    </div>
  </form>
</div>
