{{yield}}
<div class="item-view collapsible {{if editMode "closed"}}">
  <input type="checkbox" id="checked-item-{{item._sanitizedid}}" name="checked-item-{{item._sanitizedid}}" onclick={{action 'toggleChecked'}} value="{{item.title}}" checked={{item.checked}} />
  <label for="checked-item-{{item._sanitizedid}}">{{item.title}}</label>
  <button class="btn-flat more-btn right" {{action 'toggleEdit'}}><i class="material-icons">more_vert</i></button>
</div>
<div class="item-edit collapsible {{unless editMode "closed"}}">
  <form id="form-{{item._sanitizedid}}" class="col s12 tertiary lighter" {{action 'updateItem' item.title on='submit'}}>
    <div>
      <span class="card-title">
        <button id="close-{{item._sanitizedid}}" type="button" class="btn-flat more-btn right" data-escape="{{item._sanitizedid}}" {{action 'toggleEdit'}}><i class="material-icons">close</i></button>
      </span>
      <h5>Edit Item</h5>
      <div class="row">
        <div class="input-field col s12">
          {{input value=item.title class="validate" placeholder=item.title autofocus=true required=true}}
        </div>
        {{input value=item.list type="hidden" required=true}}
      </div>
    </div>
    <div class="card-action">
      <button class="btn-flat" type="button" data-escape="{{item._sanitizedid}}" {{action 'removeItem'}}>Remove</button>
      <button class="btn-flat" type="submit" data-escape="{{item._sanitizedid}}">Update</button>
    </div>
  </form>
</div>
