<header class="navbar-fixed">
  <nav id="nav" class="primary-color">
    <div class="nav-wrapper">
      <span class="brand-logo left">
        {{#if isItemsList}}
          {{#link-to 'index'}}
          <i class="material-icons" {{action 'goBack'}}>arrow_back</i>
          {{/link-to}}
        {{/if}}
        <span id="header-title">Shopping Lists</span>
      </span>
      <!-- settings button -->
      <a href="#" {{action 'openSettingsModal'}} class="right settings"><i class="material-icons">settings</i></a>
    </div>
  </nav>
</header>
<main>
  {{outlet}}
  <button id="add-button" class="btn-floating btn-large secondary-color right" {{action 'openAddModal'}}>
    <i class="material-icons">add</i>
  </button>
</main>
{{shopping-list-settings-modal closeModal=(action 'closeSettingsModal') sync=(action 'sync')}}
{{shopping-list-add-modal isItemsList=isItemsList listId=listId closeModal=(action 'closeAddModal')}}
